:root {
  --primary-color: hsla(163, 86%, 8%, 0.988);
  --secondary-color: #F2B442;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body{
  background-image: url("/images/1.png"), linear-gradient( #e6b980 0%, #efdfd0 100%);
  background-repeat:repeat-y ;
  background-size:contain;
}
h1,
h2,
h3,
h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  
}

h1 {
  font-size: 120px;
  color:#4F874E;
  text-shadow: 2px 1px 3pх;
}

h2 {
  margin-top: 20px;
  font-size: 68px;
  color: var(--secondary-color);
  text-shadow: 1px 2px 2px;
}

h3 {
  font-size: 24px; 
  text-shadow: 2px 3px 5px #000;
}

button{
  color: var(--primary-color);
}

.sale{
  text-shadow: 1px 1px 1px;
  color:#467846;

}
